# ==========================================
# AURA Extra Safety (Models & Media)
# ==========================================
# Ignore HDF5 models (Emotion model)
*.hdf5

# Ignore all video formats (VLC files in your folder)
*.avi
*.mov
*.mkv

# Ignore local environment folders (just in case)
aura_env2/
aura_env/

# Ignore local alert images folder
alerts/